<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es"> <!--<![endif]-->

<head>
	<title>Examen Final</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/> 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="/framework/resources/css/bootstrap.min.css">
	<script  src="/framework/resources/js/bootstrap.min.js"></script>
	<script src="/framework/resources/js/jquery.tabletojson.min.js"></script>
	<script src="/framework/resources/js/jquery.number.min.js"></script>
	<script src="/framework/resources/js/jquery.tablesorter.min.js"></script>
	<script src="/framework/resources/js/jquery.form-validator.min.js"></script>
	<script src="/framework/resources/js/canvasjs.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/framework/resources/css/vendotodo.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	
	<style>
		
	</style>
</head>